<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Admission Assistant</title>

</head>
<body>
    <h1>Admission Assistant</h1>

    <form action="/data" method='POST'>
        <label for="gpa">Enter GPA:</label>
        <input type="text" id="gpa" name="gpa"><br><br>

        <label for="pce">Enter PCE Hours:</label>
        <input type="text" id="pce" name="pce"><br><br>

        <label for="gre">Have you taken the GRE?</label>
        <input type="checkbox" value="1" id="gre" name="gre"><br><br>

        <div class="form-group last mb-3" id="ck-button">
            <label>
               <input type="checkbox" value="1" name='HumanAnatomy'><span>Human Anatomy</span>
            </label>
        </div>
    
        <div class="form-group last mb-3" id="ck-button">
            <label>
               <input type="checkbox" value="1" name='Microbiology'><span>Microbiology</span>
            </label>
        </div>
    
        <div id="ck-button">
            <label>
               <input type="checkbox" value="1" name='HumanPhysiology'><span>Human Physiology</span>
            </label>
        </div>
    
        <div id="ck-button">
            <label>
               <input type="checkbox" value="1" name='Psychology'><span>Psychology</span>
            </label>
        </div>
    
        <div id="ck-button">
            <label>
               <input type="checkbox" value="1" name='Biochemistry'><span>Biochemistry</span>
            </label>
        </div>
    
        <div id="ck-button">
            <label>
               <input type="checkbox" value="1" name='Statistics'><span>Statistics</span>
            </label>
        </div>
    
        <div id="ck-button">
            <label>
               <input type="checkbox" value="1" name='MedicalTerminology'><span>Medical Terminology</span>
            </label>
        </div>
    
        <div id="ck-button">
            <label>
               <input type="checkbox" value="1" name='OrganicChemistryI'><span>Organic Chemistry I</span>
            </label>
        </div>
    
        <div id="ck-button">
            <label>
               <input type="checkbox" value="1" name='Genetics'><span>Genetics</span>
            </label>
         </div>

        <input type="submit" value="Submit">
    </form>

    
    <h2>Eligible Programs:</h2>   
</body>
</html>