<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/fonts/icomoon/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/owl.carousel.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/style.css') }}">

  </head>
  <body>
  

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('../static/styles/images/pa.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 py-5">
            <h3>Admission Assistant</h3>
            <p class="mb-4">Enter your information here to find what PA programs you are eligible for.</p>
            <form action="/data" method="POST">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group first">
                    <label for="gpa">Enter GPA:</label>
                    <input type="text" class="form-control" id="gpa" name="gpa">
                  </div>    
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group first">
                    <label for="pce">Enter PCE Hours:</label>
                    <input type="text" class="form-control" id="pce" name="pce">
                  </div>    
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group first">
                    <label for="gre">Have you taken the GRE?</label>
                    <select class="form-control" id="gre" name="gre">
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select>
                  </div>    
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="d-flex mb-5 mt-4 align-items-center">
                    <div class="d-flex align-items-center">
                      <label class="control control--checkbox mb-0"><span>Human Anatomy</span>
                        <input type="checkbox" value="1" name='HumanAnatomy'>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="d-flex mb-5 mt-4 align-items-center">
                    <div class="d-flex align-items-center">
                      <label class="control control--checkbox mb-0"><span>Microbiology</span>
                        <input type="checkbox" value="1" name='Microbiology'>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="d-flex mb-5 mt-4 align-items-center">
                    <div class="d-flex align-items-center">
                      <label class="control control--checkbox mb-0"><span>Human Physiology</span>
                        <input type="checkbox" value="1" name='HumanPhysiology'>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="d-flex mb-5 mt-4 align-items-center">
                    <div class="d-flex align-items-center">
                      <label class="control control--checkbox mb-0"><span>Psychology</span>
                        <input type="checkbox" value="1" name='Psychology'>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="d-flex mb-5 mt-4 align-items-center">
                    <div class="d-flex align-items-center">
                      <label class="control control--checkbox mb-0"><span>Biochemistry</span>
                        <input type="checkbox" value="1" name='Biochemistry'>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="d-flex mb-5 mt-4 align-items-center">
                    <div class="d-flex align-items-center">
                      <label class="control control--checkbox mb-0"><span>Statistics</span>
                        <input type="checkbox" value="1" name='Statistics'>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="d-flex mb-5 mt-4 align-items-center">
                    <div class="d-flex align-items-center">
                      <label class="control control--checkbox mb-0"><span>Medical Terminology</span>
                        <input type="checkbox" value="1" name='MedicalTerminology'>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="d-flex mb-5 mt-4 align-items-center">
                    <div class="d-flex align-items-center">
                      <label class="control control--checkbox mb-0"><span>Organic Chemistry I</span>
                        <input type="checkbox" value="1" name='OrganicChemistryI'>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="d-flex mb-5 mt-4 align-items-center">
                    <div class="d-flex align-items-center">
                      <label class="control control--checkbox mb-0"><span>Human Physiology</span>
                        <input type="checkbox" value="1" name='HumanPhysiology'>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-dark">Submit</button>

            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>